*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --color-dark: #071325;
    --color-base: #0a1e38;
    --color-accent: #173357;
    --color-light: #b8820d;
    --text-base: #f1f0f8;
    --text-dark: #d7d7d8;
}

body {
    background-color: var(--color-base);
}

/****************** Sections ******************/

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 13.5rem;
    height: 16rem;

    margin: 1rem;
    padding: 1rem;

    background-color: var(--color-base);
    border: 4px solid var(--color-accent);
    border-radius: 1rem;
    box-shadow:  8px  8px 12px #0002 inset,
                -8px -8px 12px #0002 inset;

    color: var(--text-base);
    font-family: "Roboto", sans-serif;
}

@property --wheelRot {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.wheel {
    --wheelRot: 60deg;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    aspect-ratio: 1;
    rotate: 210deg;

    border-radius: 50%;
    background: conic-gradient(var(--color-light) var(--wheelRot), var(--color-dark) calc(min(300deg, var(--wheelRot) + 1deg)), var(--color-dark) 300deg, #0000 301deg, #0000 360deg);

    transition: --wheelRot 0.2s;
}

.wheel > div {
    --fill: 73%;
    width: var(--fill);
    height: var(--fill);
    border-radius: 50%;
    background-color: var(--color-base);
}

section > h3 {
    font-size: 1.1rem;
    height: 2.6em;
    line-height: 2.6em;
    text-align: center;
}

section > h3 > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.15em;
}

section h4 {
    color: var(--text-dark);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}

section h5 {
    position: absolute;
    rotate: -210deg;
    font-size: 2rem;
}
